.login-btn {
    border-radius: 4px;
    border: none;
    color: rgb(255, 255, 255);
    background-color: var(--primary);
    min-width: 120px;
    min-height: 46px;
    font-size: 16px;
    line-height: 22px;
    font-weight: 700;
    display: flex;
    position: relative;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    padding: 6px 8px;
    user-select: none;
    cursor: pointer;
    box-sizing: border-box;
    width: 100%;
    margin-top: 21px;
    &:disabled {
      border: none;
      color: rgba(22, 24, 35, 0.34);
      background-color: rgba(22, 24, 35, 0.06);
      pointer-events: none;
    }
  }