@import 'normalize.css';

:root {
  --primary: #fe2c55;

  // Default layout
  --default-layout-header-height: 60px;
  --default-laypout-width: 1150px;
  --default-layout-horizontal-spacer: 24px;
  --black: black;
  --text-color: #161823;
  --white: white;
  --font-family: 'TikTokFont', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: --font-family;
  font-size: 1.6rem;
  line-height: 1.5;
  text-rendering: optimizeLegibility;
}

button,
input,
[tabindex] {
  border: none;
  outline: none;
}

a[href] {
  color: var(--text-color);
  text-decoration: none;
}

// Fonts Embed
@font-face {
  font-family: TikTokDisplayFont;
  src: url("/assets/fonts/TikTokDisplayFont-Regular.woff2");
  font-weight: 400;
}

@font-face {
  font-family: TikTokDisplayFont;
  src: url('/assets/fonts/TikTokDisplayFont-Bold.woff2');
  font-weight: 700;
}

@font-face {
  font-family: TikTokDisplayFont;
  src: url('/assets/fonts/TikTokDisplayFont-Semibold.woff2');
  font-weight: 600;
}

@font-face {
  font-family: TikTokFont;
  src: url('/assets/fonts/TikTokFont-Regular.woff2');
  font-weight: 400;
}

@font-face {
  font-family: TikTokFont;
  src: url('/assets/fonts/TikTokFont-Bold.woff2');
  font-weight: 700;
}

@font-face {
  font-family: TikTokFont;
  src: url('/assets/fonts/TikTokFont-Semibold.woff2');
  font-weight: 600;
}


// Custom Tippy tooltip
body {
  .tippy-box {
    background-color: rgba(84, 84, 84, 0.92);
    border-radius: 8px;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 2.2rem;
  }
  .tippy-arrow {
    color: rgba(84, 84, 84, 0.92);
  }

  .tippy-content {
    padding: 8px 9px;
  }
  
  .tippy-box[data-placement^='bottom'] > .tippy-arrow:before {
    top: -8px;
  }
}
