.email-input-wrapper {
  margin-bottom: 9px;
}

.email-input-container {
  background: rgba(22, 24, 35, 0.06);
  border: 1px solid rgba(22, 24, 35, 0.12);
  transition: all 0.3s ease 0s;
  border-radius: 4px;
  display: flex;
}

.email-input {
  position: relative;
  flex: 1 1 0%;
  width: 0px;
  margin-bottom: 0px;
  input {
    background: transparent !important;
  }
}

.email-input-area {
  border-radius: 2px;
  background-color: rgba(22, 24, 35, 0.06);
  border: none rgba(22, 24, 35, 0.12);
  padding-inline-start: 12px;
  color: rgb(22, 24, 35);
  line-height: 100%;
  outline: none;
  font-size: 16px;
  height: 44px;
  caret-color: rgb(254, 44, 85);
  width: 100%;
  padding-inline-end: unset;
  &:focus {
    color: rgb(22, 24, 35) !important;
  }
}

.error-msg {
  font-size: 12px;
  line-height: 15px;
  color: rgb(255, 76, 58);
}

.alert {
  border: 1px solid rgb(255, 76, 58);
  & input {
    color: rgb(255, 76, 58);
  }
}

.alert-icon-container {
  display: flex;
  align-items: center;
  height: 44px;
  padding-inline-end: 16px;
  svg {
    width: 14px;
    height: 14px;
  }
}
