.wrapper {
    flex: 1 1 auto;
    overflow: hidden;
    font-family: var(--font-family);
}

.layout {
    max-width: 1776px;
    display: flex;
    padding: 32px 24px 36px;
    flex-direction: column;
    min-height: calc(100vh - 59px);
    margin: 0px auto;
    box-sizing: content-box;
}

.container {

}

.profile-header {
    padding-right: 92px;
    margin-bottom: 20px;
}

.profile-body {

}

.info {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.image-container {
    position: relative;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
}

.image {
    display: inline-block;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    border-width: 0.5px;
    border-radius: 50%;

    img {
        width: 116px;
        height: 116px;
        object-fit: cover;
        border-radius: 50%;
    }
}

.name-container {
    flex: 1 1 0%;
    cursor: pointer;
    overflow: visible;
    display: flex;
    flex-direction: column;
    -webkit-box-pack: justify;
    justify-content: space-between;
    margin-left: 20px;
}

.nickname {
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    margin-bottom: 4px;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
    word-break: break-word;
}

.checked {
    margin-left: 6px;
    width: 20px;
    height: 20px;
    color: #20d5ec;
}

.full-name {
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    text-overflow: ellipsis;
    height: 25px;
    overflow: hidden;
    max-width: 450px;
    white-space: nowrap;
    display: flex;
    align-items: flex-end;
}

.follow-btn {
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    position: relative;
    width: 208px;
    height: 36px;
    padding: 0px;
    margin: 16px 0px 0px;
}


.count-info {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    margin-top: 22px;
    color: rgba(18, 18, 18, 0.75);
}

.info-number {
    color: rgb(22, 24, 35);
    font-family: TikTokFont, Arial, Tahoma, PingFangSC, sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    display: flex;
    direction: ltr;
    -webkit-box-align: baseline;
    align-items: baseline;
    cursor: pointer;
    &:not(:last-child) {
        margin-right: 20px;;
    }
}

.subtitle {
    color: rgba(22, 24, 35, 0.75);
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    display: inline-block;
    margin-left: 6px;
    &:hover {
        text-decoration: underline;
    }
}

.bio {
    text-align: left;
    color: rgb(22, 24, 35);
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    white-space: pre-line;
    margin-top: 10px;
}

.link-container {
    font-weight: 600;
    font-size: 16px;
    line-height: 21px;
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    margin-top: 5px;
}

.link-wrapper {
    color: rgb(22, 24, 35);
    font-weight: 600;
    font-size: 16px;
    line-height: 21px;
    display: flex;
    align-items: flex-end;
    font-style: normal;
    height: 22px;
    max-width: 256px;
    &:hover {
        .link {
            text-decoration: underline;
        }
    }
}

.link-image {
    width: 18px;
    height: 18px;
}

.link {
    padding-left: 2px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.button-container {

}
