.policy-container {
  width: 100%;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  background: rgb(255, 255, 255);
  padding: 16px 30px;
  margin-bottom: unset;
  position: relative;
}

.policy-content {
  color: rgba(22, 24, 35, 0.5);
  font-size: 12px;
  line-height: 15px;
  width: 337px;
  text-align: center;
}
