.wrapper {
    font-family: 'TikTokDisplayFont', sans-serif;
    border-top: solid rgba(22, 24, 35, 0.12) 1px;
}

.label {
    font-size: 1.4rem;
    padding: 8px;
    color: #161823bf;
    font-weight: 400;
}

.more-btn {
    font-size: 1.4rem;
    color: #fe2c55;
    padding: 8px;
    font-weight: 600;
    cursor: pointer;
}


// Suggested Account Items

.account-item {
    padding: 8px;
    display: flex;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    border-radius: 4px;
    transition: background-color 200ms ease-in-out 0s;
    cursor: pointer;

    &:hover {
        background-color: rgba(22, 24, 35, 0.03);
    }
}

.avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
}

.item-info {
    flex: 1;
    margin-left: 12px;
    border-top: black;
    border-width: 1px;
}

.nickname {
    line-height: 1;
    font-size: 1.6rem;
    color: #161823;
}

.name {
    font-size: 1.2rem;
    color: #161823bf
}

.checked {
    font-size: 1.4rem;
    color: #20d5ec;
    margin-left: 8px;
}



