.wrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
    // background-color: red;
}

.container {
    width: 692px;
    // background-color: green;
    padding: 20px 0;
}