.layout-container {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    -webkit-box-pack: start;
    justify-content: flex-start;
    min-height: 490px;
    align-items: flex-start;
    min-width: 520px;
    position: relative;
  }
  
  .video-feed {
    font-weight: 600;
    font-size: 18px;
    position: relative;
    top: 0px;
    z-index: 0;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: stretch;
    width: 100%;
    height: 44px;
    margin-bottom: 8px;
    background-color: rgb(255, 255, 255);
    &:after {
      position: absolute;
      bottom: 0px;
      left: 0px;
      content: '';
      width: 100%;
      height: 1px;
      background-color: rgba(0, 0, 0, 0.12);
      transform: scaleY(0.5);
    }
  }
  
  .post {
    line-height: 24px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    height: 44px;
    padding: 0px 32px;
    cursor: pointer;
    text-align: center;
    color: rgb(115, 116, 123);
  }
  
  .favorite,
  .like {
    line-height: 24px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    height: 44px;
    padding: 0px 32px;
    cursor: pointer;
    text-align: center;
    color: rgb(115, 116, 123);
  }
  
  .lock-icon + span {
    margin-left: 6px;
  }
  .lock-icon {
    transform: translateY(2px);
    width: 18px;
    height: 18px;
  }
  
  .bottom-line {
    position: absolute;
    height: 2px;
    background: rgb(22, 24, 35);
    bottom: 0px;
    transition: transform 0.3s ease 0s;
  }
  
  // Main detail
  
  .three-column-container {
  }
  
  .main-detail-wrapper {
    flex: 0 0 auto;
    justify-content: center;
    display: flex;
    flex-direction: column;
    min-height: 490px;
    align-items: center;
    margin: 0px auto;
  }
  
  .main-detail-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0px auto;
  }
  
  .logo {
    width: 90px;
    height: 90px;
    // object-fit: cover;
  }
  
  .title {
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
    color: rgb(22, 24, 35);
    margin-top: 24px;
  }
  
  .description {
    font-size: 16px;
    line-height: 21px;
    font-weight: 400;
    color: rgba(22, 24, 35, 0.75);
    margin-top: 8px;
  }
  
  // Playlists
  .outer-playlist-container {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  
  .title {
    color: rgb(22, 24, 35);
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    margin: 24px 0px 16px;
  }
  
  .playlist-container {
    // width: 100%;
    height: 94px;
    position: relative;
  }
  
  .inner-playlist-container {
    // width: 100%;
    // height: 94px;
    overflow: auto hidden;
    display: flex;
    padding-bottom: 6px;
    position: relative;
  }
  
  // Hide scrollbar but keep functionality
  .inner-playlist-container::-webkit-scrollbar {
    display: none;
  }
  
  .playlist-link {
    width: calc(33% - 4px);
    height: 94px;
    padding: 12px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    border-radius: 4px;
    cursor: pointer;
    background: rgba(22, 24, 35, 0.03);
    overflow: hidden hidden;
    &:not(:last-child) {
      margin-inline-end: 16px;
    }
  }
  
  .playlist-card-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .playlist-card-cover-container {
    width: 72px;
    height: 72px;
    border-radius: 2px;
    margin-inline-end: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    flex-shrink: 0;
    border: none;
  }
  
  .playlist-card-cover {
    width: 72px;
    height: 72px;
    border-radius: 2px;
    object-fit: cover;
  }
  
  .playlist-card-info-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 4px 0px;
    box-sizing: border-box;
    justify-content: space-between;
  }
  
  .playlist-title {
    color: rgb(22, 24, 35);
    font-weight: 700;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    word-break: break-word;
    font-size: 16px;
    line-height: 24px;
  }
  
  .playlist-description {
    color: rgba(22, 24, 35, 0.6);
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
  }
  
  // Three column section
  .three-column-container {
    width: 100%;
  }
  
  .post-item-list {
    display: grid;
    width: 100%;
    gap: 24px 16px;
    grid-template-columns: repeat(auto-fill, minmax(184px, 1fr));
  }
  
  .post-item-container {
    display: flex;
    flex-direction: column;
    border-radius: 4px;
  }
  
  .post-media-container {
    position: relative;
    border-radius: 4px;
    // width: 18px;
    height: 250px;
    overflow: hidden;
    // object-fit: cover;
  }
  
  
  .player-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    background-color: rgba(22, 24, 35, 0.06);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .video-container {
    // position: absolute;
    // left: 0px;
    // top: 0px;
    // width: 100%;
    // height: 100%;
  }
  
  .video-content {
    //   box-sizing: border-box;
    //   display: block;
    //   overflow: hidden;
    //   width: initial;
    //   height: initial;
    //   background: none;
    //   opacity: 1;
    //   border: 0px;
    //   margin: 0px;
    //   padding: 0px;
    //   position: absolute;
    //   inset: 0px;
  }
  
  .video-footer {
    position: absolute;
    width: 100%;
    bottom: 0px;
    height: 100px;
    background: linear-gradient(rgba(22, 24, 35, 0) 2.92%, rgba(22, 24, 35, 0.5) 98.99%);
    color: rgb(255, 255, 255);
    padding: 67px 13px 17px;
  
    svg {
      width: 18px;
      height: 18px;
      margin-right: 4px;
      vertical-align: middle;
    }
  
    strong {
      font-weight: 600;
      vertical-align: middle;
      font-size: 16px;
    }
  }
  