// Wrapper
.wrapper {
  flex: 1 1 auto;
  font-family: var(--font-family);
  position: relative;
  overflow: hidden;
}

@media screen and (min-width: 1472px) and (max-width: 1671px) {
  .wrapper {
    max-width: 1328px;
  }
}

.layout {
  max-width: 1190px;
  display: flex;
  padding: 32px 0 36px 24px;
  flex-direction: column;
  min-height: calc(100vh - 59px);
  margin: 0px auto;
  box-sizing: content-box;
}

.container {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}

// Profile Header

.profile-header {
  max-width: 624px;
  padding-right: 92px;
  padding-left: 0px;
  min-height: 140px;
  display: flex;
  flex-direction: column;

  position: relative;
  flex: 0 0 auto;
  margin-bottom: 20px;
  box-sizing: border-box;
}

// Profile Body
