.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden !important;
}

.container {
  width: var(--default-layout-width);
  max-width: 100%;
  display: flex;
  margin-top: var(--default-layout-header-height);
  padding: 0 var(--default-layout-horizontal-spacer);
}

.content {
  flex: 1;
  min-height: 1000px;
}
