.password-wrapper {
  margin-bottom: 9px;
}

.password-container {
  position: relative;
  margin-bottom: 9px;
  display: flex;
}

.password-input-area {
  border-radius: 2px;
  background-color: rgba(22, 24, 35, 0.06);
  border: 1px solid rgba(22, 24, 35, 0.12);
  padding-inline: 12px 24px;
  color: rgb(22, 24, 35);
  line-height: 100%;
  outline: none;
  font-size: 16px;
  height: 44px;
  caret-color: rgb(254, 44, 85);
  width: 100%;
}

.eye-icon {
  right: 0px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  position: absolute;
  top: 0px;
  height: 44px;
  padding-inline-end: 16px;
  span {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  svg {
    line-height: 0;
    margin-inline-start: 16px;
    cursor: pointer;
    font-size: 20px;
    opacity: 0.5;
    height: 20px;
    width: 20px;
  }
}
.error-msg {
  font-size: 12px;
  line-height: 15px;
  color: rgb(255, 76, 58);
}

.alert {
  border: 1px solid rgb(255, 76, 58);
  & input {
    color: rgb(255, 76, 58);
  }
}
