.wrapper {
  --search-border-radius: 92px;
  --search-height: 46px;
  --search-top-spacer: 9px;
  --search-btn-width: 52px;

  position: fixed;
  top: 0;
  left: 0;
  justify-content: center;
  width: 100%;
  height: var(--default-layout-header-height);
  box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
  background-color: var(--white);
  z-index: 10;
  display: flex;
}

.inner {
  height: 100%;
  width: var(--default-layout-width);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--default-layout-horizontal-spacer);
}

.logo {
  display: flex;
  min-width: 300px;
}

// Actions
.actions {
  display: flex;
  align-items: center;
}

.message-icon {
  transform: translateY(7px);
}

.inbox-icon {
  transform: translate(-5px, 3px);
}

.action-btn {
  color: #161823;
  background-color: transparent;
  font-size: 2.4rem;
  margin-left: 16px;
  cursor: pointer;
}

.more-btn {
  font-size: 2rem;
  margin-left: 16px;
  background-color: transparent;
  padding: 4px 8px;
  cursor: pointer;
}

.user-avatar {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  position: relative;
  bottom: 0px;
  border-radius: 50%;
  margin-left: 10px;
  right: 0px;
  cursor: pointer;
  background-color: transparent;
}

.upload-icon {
  height: 20px;
  width: 20px;
  margin-right: 8px;
  display: flex;
  align-items: center;
}

.upload-icon + p {
  font-style: normal;
  font-family: 'TikTokDisplayFont', sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}

.upload-btn {
  min-width: 110px;
  padding: 0px 17px;
  height: 36px;
  border: 1px solid rgba(22, 24, 35, 0.12);
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(255, 255, 255);
  &:hover {
    background-color: rgba(22, 24, 35, 0.03);
  }
}

.login-btn {
  margin-left: 16px;
  font-weight: 600 !important;
}

.login-container {
  transition: all 500ms ease-in-out 500ms;
  background-color: red;
}

.transition {
  transition: all 300ms cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
}